header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column.search#jsSearch 
            select#searchOption(name="option")
                option(value="term") 제목+내용
                option(value="tag") 태그 
            form.searchForm(action=routes.search, method="get")
                input(type="search", placeholder=" 검색", name="term")
                
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.login) 
                            i.fas.fa-sign-in-alt
                else 
                    li
                        a#openModal 
                            i.far.fa-plus-square
                    li
                        a(href=routes.logout)
                            i.fas.fa-sign-out-alt
                    li
                        a(href=routes.me) 
                            image.headerAvatar#jsMyAvatar(src=loggedUser.avatarUrl)