extends layouts/main.pug
include mixin/videoPlayer

block content 
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl,
            thumbnail:video.thumbnailUrl
        })
        .video__info
            h5.video__title=video.title
            if video.views === 1
                span.video__views 1 view
            else 
                span.video__views #{video.views} views
            .video__column
                .video__author
                    a#jsCreaterId(href=routes.userDetail(video.creator.id))
                        img.creatorAvatar(src=video.creator.avatarUrl)
                    .video__author-text
                        strong=video.creator.name
                        if loggedUser && video.creator.id !== loggedUser.id
                            .user-profile__btns#subscribeContainer
                                if loggedUser.subscribing.includes(video.creator.id)
                                    button#jsUnsubscribe(style="background-color:red;") Unsubscribe
                                else
                                    button#jsSubscribe Subscribe
                        if loggedUser
                            if video.creator.id === loggedUser.id
                                a(href=routes.editVideo(video.id))
                                    button Edit video
                .like
                    span#jsLikeContainer 
                        if loggedUser && loggedUser.like.includes(video.id)
                            i.fas.fa-thumbs-up#jsUnlike
                        else
                            i.far.fa-thumbs-up#jsLike
        
                    span#jsLikeCount #{video.like}
            p.video__description=video.description
            
        .video__comments
            if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 1
                    |  comment
            else
                span.video__comment-number
                    span#jsCommentNumber=video.comments.length
                    |  comments

            form.add__comment#jsAddComment
                input#jsComment(type="text", placeholder="Add a comment")
            .wrap
                ul.video__comments-list#jsCommentList
                    each comment in comments.reverse()
                        li
                            span.commentId=comment.id
                            a(href=`/users/${comment.creator.id}`)
                                img.commentAvatar(src=`${comment.creator.avatarUrl}`)
                                .commentCreator
                                    strong=comment.creator.name
                            span.comment__delete#jsCommentDelBtn
                                if loggedUser &&loggedUser.id === comment.creator.id
                                    i.far.fa-trash-alt
                            span.comment=comment.text
            
            if loggedUser 
                span.username#jsUserName=loggedUser.name
            