extends layouts/main.pug

block content 
    .form-container 
        form(action=routes.editVideo(video.id), method="post")
            input(type="text", placeholder="Title", name="title", value=video.title)
            textarea(placeholder="Description",name="description" )=video.description
            span.tagsINfo 각 태그의 뒤에 쉼표를 입력하세요. 
            textarea(type="text", placeholder="태그 추가", name="tags" , required = true)=video.tags
            input(type="submit", value="Update Video")
        a.form-container__link(href=routes.deleteVideo(video.id)) 
            button Delete Video