extends layouts/homeMain.pug
include mixin/videoBlock.pug
block content 
    .home-wrapper
        .menu
            a(href=routes.home)
                .main 
                    i.fas.fa-home
                    span 홈
            a(href=routes.hot)
                .pop 
                    i.fas.fa-fire
                    span 인기 동영상
            if loggedUser
                .likeVideo.selected
                    i.fas.fa-thumbs-up
                    span 좋아요 표시한 동영상
                a(href=routes.subscribed)
                    .subscribing 
                        i.fas.fa-id-card-alt
                        span 구독
                .mySubscribe 
                    span 구독중인 채널
                    if loggedUser
                        each channel in me.subscribing
                            a(href=`/users/${channel.id}`)
                                .mySubscribe__column
                                    image.mySubscribe__avatar(src=channel.avatarUrl)
                                    span=channel.name
        .homeVideoWrapper
            .home-contents    
                .home-videos
                    each video in dbVideos
                        +videoBlock({
                            id: video.id,
                            title:video.title,
                            views:video.views,
                            videoFile:video.fileUrl,
                            thumbnail:video.thumbnailUrl
                        })
            
