if loggedUser && (!loggedUser.password || !loggedUser.email)
    .modal.socialJoinModal.hidden#modal
            .modal__overlay
            .modal__content.socialModalContent 
                .modal__header.socialModalHeader 
                    strong 추가 정보 기입
                .modal__main
                    .form-container
                        form(action=`/users${routes.getMore}`, method="post")
                            if !loggedUser.name
                                input(type="text", name="name", placeholder="Full Name" required=true)
                            else 
                                div
                                    span User Name: 
                                    strong=loggedUser.name
                            if !loggedUser.email
                                input(type="email", name="email", placeholder="Email" required=true)
                            else 
                                div
                                    span E-mail: 
                                    strong=loggedUser.email
                            
                            input(type="password", name="password", placeholder="Password" required=true)
                            input(type="password", name="password2", placeholder="Verify Password" required=true)
                            input(type="submit", value="Join Now")